.discovery {
  padding-bottom: 5em;

  .match-preview {
    position: absolute;
    height: 75%;
    margin: 2.5rem;
    overflow: hidden;
    border-radius: 1rem;
    border: 3px solid #666;

    img {
      filter: blur(25px);
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0.85) 100%
      );
    }

  .ctas {
    position: absolute;
    width: 100%;
    bottom: 1.25rem;
    display: flex;
    justify-content: center;

    button[mat-fab] {
      margin: 0 1.25rem;
      background: rgba(255, 255, 255, 0.9);
    }
  }
  }
}
